@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/images";
@import "compass/css3/font-face";

div.container {
	margin:40px 60px;
	font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
	font-weight:200;
	font-size:14px;
}

a, a:visited {
	color:#999;
	font-family: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;
	font-weight:200;
	border-bottom:1px dashed #aaa;
	text-decoration:none;
	
	&:active {
		position:relative;
		top:1px;
	}
}

b {
	font-weight:bold;
	margin-right:5px;
}

div.fade {
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(black, .8);
	top:0;
	left:0;
	z-index:100;
	opacity:0;
	display:none;
}

div.demo {
	z-index:105;
	position:absolute;
	top:-450px;
	left:50%;
	width:400px;
	height:440px;
	margin-left:-200px;
	background:#fff;
	@include border-bottom-left-radius(2px);
	@include border-bottom-right-radius(2px);
	@include box-shadow(0px 1px 2px rgba(black, .5));
	
	div.image {
		width:360px;
		height:360px;
		background:transparent;
		margin:15px auto;
		background-position:center center;
		@include border-radius(2px);
	}
	
	a {
		display:block;
		margin:0 auto;
		text-align:center;
		width:100px;
		padding:8px 18px;
		color:#fff;
		text-decoration:none;
		@include border-radius(50px);
		@include background(linear-gradient(#6997fe, #0450fe));
		@include box-shadow(0px 1px 0px white);
	}
}

h1 {
	font-family: "Nunito", sans-serif;
	font-size:48px;
	color:#555;
	margin-bottom:30px;
	
	img {
		margin-right:10px;
		position:relative;
		top:15px;
	}
}

ul li {
	font-weight:400;
	font-size:14px;
	margin-top:10px;
	margin-left:-3px;
	
	&:before {
		content: "\2013";
		position:relative;
		left:-15px;
		color:#aaa;
	}
}

h2 {
	margin-top:40px;
	margin-bottom:40px;
	font-size:24px;
	
	span {
		color:#aaa;
	}
	
	a {
		text-decoration:none;
		color:#555 !important;
	}
}

ol {
	li {
		margin-top:20px;
		list-style-type:decimal;
		font-size:18px;
	}
	p {
		margin-top:10px;
		font-size:14px;
	}
	
	li, p {
		&.done {
			opacity:.1;
			color:#aaa !important;
		}
	}
}

form {
	width:300px;
	
	div.row {
		margin-bottom:10px;
		padding:3px;
		overflow:hidden;
		
		span {
			float:left;
			margin-left:15px;
		}
	}
}

input[type="text"] {
	padding:4px 4px;
	width:260px;
}

input[type="submit"] {
	float:left;
	position:relative;
	top:-4px;
}

div.code {
	width:600px;
	overflow:auto;
	padding:5px;
	background:#fdf6e3;
	margin-bottom:15px;
	margin-top:10px;
	@include border-radius(2px);
	
	pre {
		font-family: 'Consolas';
	}
}